#unsubscribedText{
  text-align: center;
  color: purple;
}
#catalogue {
  .header {
    background-image: asset_url('workshop/dislike-workshop.jpg');
    background-repeat: repeat-x;
    background-position: center center;
  }
}
