.category-page {
  .category-header {
    background-size: cover;
    background-position: center center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    .name-category {
      color: white;
      font-size: 35px;
      font-family: $monserrat;
      text-shadow: 0px 0 50px #000000;
    }
  }
  .category-workshops {
    .card_workshop {
      max-width: 100%;
      margin: 0;
    }
  }
}
