<div class="box box-success">
  <div class="box-body">

    <h1 class="page-header">
      <%= icon(:square)%> <%= t :user_mailer, scope: :new %>
      <%= link_to icon(:reply), backend_user_mailers_path, class: 'pull-right text-grey button', data: {toggle: 'tooltip'}, title: t(:back) %>  
    </h1>

    <%= render 'form', modal: false %>

  </div>
</div>

