<section class="container-fluid p-t-5 flex j-c a-c f-d-c p-l-r"  id="why-workshop">
  <article class="header row flex a-c j-c">
    <div class="f-d-c flex j-c p-l-r p-t-b title-full-height">
        <div>
          Sobre<br>
        </div>
        <div>
          Nosotros
        </div>
    </div>
  </article>
  <article class="m-t-4 p-t-b p-l-r col-xs-12">
    <p class="col-lg-8 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text">


    <b>Curiosidad. Pasión. Locura.</b><br><br>

    Aprender cosas nuevas todo el tiempo es algo que nos apasiona. Definitivamente fue lo que nos unió para crear Jobbier. Poco a poco nos fuimos dando cuenta que somos muchos más los que compartimos ese hermoso cosquilleo de querer aprender y de buscar compartir con otros las cosas por las que abrimos los ojos, levantamos las cejas y sonreímos. Vivir de lo que te gusta, o que te guste lo que hagas. Sea como sea, la economía colaborativa está revolucionando el mundo: autos, casas, viajes, trabajo, todo de manera compartida y colaborativa. Esto ya es hoy un hecho, una realidad. Forma parte de nuestra manera de relacionarnos. ¿Y qué tal si esto potenciara el aprendizaje? ¿Y si pudiésemos aprender lo que sea, de la mano de quién ya lo está haciendo? Todo un mundo por explorar, y nos fascina. Por eso nació Jobbier, y es sin duda lo que comparte toda la comunidad de locos que le dan vida al aprendizaje colaborativo!



  </p>
  </article>
</section>
