<section class="container-fluid p-t-5 flex j-c a-c f-d-c p-l-r"  id="why-workshop">
  <article class="header row flex a-c j-c">
    <div class="f-d-c flex j-c p-l-r p-t-b title-full-height">
        <div>
          ¿Quién<br>
        </div>
        <div>
          puede ser <br>
        </div>
        <div>
          <strong>Instructor</strong>?
        </div>
    </div>
  </article>
  <article class="m-t-4 p-t-b p-l-r col-xs-12">
    <p class="col-lg-8 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text">
    <b>Horizontalidad. Todos tenemos algo que enseñar y mucho por aprender.</b><br><br>     
    Cualquiera que lo desee. En Jobbier estamos convencidos que todos tenemos algo para enseñar y mucho que aprender. También creemos que el conocimiento impartido entre pares, sin el egocentrismo que atraviesa el saber, favorece muchísimo el conocimiento. Por eso en Jobbier, cualquier puede ser Instructor, basta con que poseas algún conocimiento y quieras compartirlo con la comunidad. Podrás establecer niveles en función de a quién va dirigido (principiantes, medio, avanzado) que te ayudarán a definir el grupo de aprendices en el que te focalizas.<br><br>
    Es cierto que hay quienes prefieren aprender de un experto. Bien, para eso hay Universidades, Congresos, y un montón de lugares que buscan la “excelencia académica” por decirlo de alguna manera. Nosotros nos centramos en el aprendizaje como experiencia. Disfrutar, vivir, y poder compartir grandes momentos incorporando conocimiento.<br><br>

    <b>
      <%= link_to '¿Quién garantiza la calidad de las clases o actividades?', public_main_who_guarantee_workshops_path %>
    </b>

  </p>
  </article>
</section>
