<section class="container-fluid p-t-5 flex j-c a-c f-d-c p-l-r"  id="why-workshop">
  <article class="header row flex a-c j-c">
    <div class="f-d-c flex j-c p-l-r p-t-b title-full-height">

        <div>
          ¿Quién garantiza<br>
        </div>
        <div>
          la calidad de las<br>
        </div>
        <div>
           <strong>clases</strong> y <strong>actividades</strong>?
        </div>

    </div>
  </article>
  <article class="m-t-4 p-t-b p-l-r col-xs-12">
    <p class="col-lg-8 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text">
      
    <b>Conocimiento colaborativo. Opinión real. Comunidad.</b><br><br>

    Los que mejor pueden hacerlo. Quienes hayan participado previamente. Luego de cada taller, la comunidad tienen la posibilidad de valorar cómo fue su experiencia. No todos valoramos lo mismo y por eso tendrás la posibilidad de opinar sobre diferentes aspectos como la capacidad de transmitir conocimientos, la calidad del espacio donde fue dictado el taller, la calidez humana y otros. Porque no todos valoramos las mismas cuestiones del aprendizaje y por eso es importante que la comunidad pueda aportarte una opinión fundada sobre cada taller de Jobbier. Vale aclarar que todas las opiniones son reales, ya que nadie puede opinar sobre un taller del cual no ha participado. Nos interesa tanto la calidad como la cantidad de las opiniones. Una comunidad fuerte se crea en base a la confianza y para nosotros ese valor lo es todo.<br><br>

    <b>Cómo dejar y recibir opiniones</b><br><br>
    
    Si dejas la opinión primero, el otro usuario solo la podrá ver cuando te haya dejado una también. Puedes dejar una opinión sincera con total tranquilidad. El otro usuario tendrá 14 días para dejarte una opinión. Las dos opiniones aparecerán en el perfil a la vez o cuando hayan pasado los 14 días. Deja un comentario donde describas brevemente y con tus propias palabras cómo fue el taller. Comprueba la opinión antes de publicarla.<br><br>




  </p>
  </article>
</section>
