<section class="container-fluid p-t-5 flex j-c a-c f-d-c p-l-r"  id="why-workshop">
  <article class="header row flex a-c j-c">
    <div class="f-d-c flex j-c p-l-r p-t-b title-full-height">
        <div>
          ¿Por qué<br>
        </div>
        <div>
          <strong>en Jobbier</strong><br>
        </div>
        <div>
          hablamos de <br>
        </div>
        <div>
          de <strong>Taller</strong> y no <br>
        </div>
        <div>
          de curso?
        </div>
    </div>
  </article>
  <article class="m-t-4 p-t-b p-l-r col-xs-12">
    <p class="col-lg-8 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text">
    <b>Aprendizaje activo. Participación. Encuentro físico.</b><br><br>

    Un curso está referido a una actividad educativa o docente, donde alguien imparte conocimiento a un grupo de personas. Los usos y costumbres dan a entender que <b>un taller está relacionado al involucramiento por parte de quien aprende y a la práctica como método para incorporar lo desconocido y hacerlo propio.</b> Un taller nunca es obligatorio.<br><br>

    Nos gusta decir <b>Instructor</b>, porque su rol es instruir en el aprendizaje de otros, ya no como dueño del conocimiento sino instruyendo y guiando al otro. Nos gusta decir <b>Aprendiz</b>: Solía decirse que alumno venía del latín y quería decir persona sin luz, pero luego esto fue negado por otras corrientes. Al fin y al cabo hay alguien que se acerca queriendo aprender, y por eso aprendiz, aunque cuando el conocimiento se comparte de manera horizontal, todos cumplimos este papel, nos toque el rol que nos toque.



  </p>
  </article>
</section>
