<section class="container-fluid p-t-5 flex j-c a-c f-d-c p-l-r"  id="why-workshop">
  <article class="header row flex a-c j-c">
    <div class="f-d-c flex j-c p-l-r p-t-b title-full-height">
        <div>
          Trabajá con<br>
        </div>
        <div>
          Nosotros
        </div>
    </div>
  </article>
  <article class="m-t-4 p-t-b p-l-r col-xs-12">
    <p class="col-lg-8 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text">


    <b>Contanos que te apasiona. Ojalá nos conozcamos!</b><br><br>

    Las sinergias son siempre positivas. Al otro lado de esta pantalla hay seres humanos… Sí, te lo juro!<br>
    Si te interesa conocernos, acercarnos tu propuesta de trabajo, contarnos lo que hacés, lo que te apasiona, o cualquier locura que se te venga a la mente… No dejes de escribirnos, quién sabe todo lo que puede pasar a partir de un simple mail? Así nació Jobbier… ¿Cómo nos íbamos a encerrar después de eso?<br><br>

    Estamos en <b><%= link_to 'contacto', public_main_contact_path %></b> ;)



  </p>
  </article>
</section>




