#step3 {
  background-image: asset_url('workshop/stage-five.jpg');
}

#step3 .workshop_images_normal_container{
    font-size: 0;
}

#step3 .workshop_images_normal_container .workshop_image_normal{
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 32%;
    height: 150px;
    background-color: purple;
    margin-right: 1%;
    margin-bottom: 1%;
    webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

#step3 .workshop_images_normal_container .add-workshop_image_normal{
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: table;
    line-height: 128px;
    outline: 5px solid;
    outline-offset: -5px;
    opacity: 0.6;
    webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;    
}

#step3 .workshop_images_normal_container .add-workshop_image_normal:hover{
    opacity: 1;
}


#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container{
width: 100%;
height: 100%;
}

#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .imageloader-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .imageloader-img.high{
    background-size: cover; //MAS ALTA
}
#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .imageloader-img.wide{
    background-size: contain; //MAS ANCHA   
}

#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .imageloader-file-div{
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 9; 
    opacity: 0;
    cursor: pointer;
}

#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .workshop_image_actions{
    position: absolute;
    top: 10px;
    font-size: 12px;
    right: 10px;
    opacity: 0;
    z-index: 9;
    width: 100%;
    webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
#step3 .workshop_images_normal_container .workshop_image_normal:hover .imageloader-container .workshop_image_actions{
    opacity: 1;
}



#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .workshop_image_actions .icheckbox_square-blue{
    float: left;
    left: 10px;
    top: 3px;
}
#step3 .workshop_images_normal_container .workshop_image_normal .imageloader-container .workshop_image_actions .remove-workshop_image_normal{
    float: right;
    background-color: rgba(254,254,254,0.6);
    border: 1px solid #888;
    border-radius: 15px;
    padding: 3px;
}
