<li class="entity">
  <a href="#" class="p-l-r p-t-b">
    <img src="<%= image_url('avatar_default.png') %>" />
    <div class="info-entity p-l">
      <span>Cocina vegana conciente</span>
      <span>3 aprendices</span>
    </div>
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
  </a>
</li>
