<div class="wrapper-right">
  <section class="cont-msgs">
	<% 30.times.each do |x| %>
   		<%= render 'msg' %>
	<% end %>
  </section>
  <section class="send">
    <input type="text" name="" value="" placeholder="Escribí un mensaje aquí" class="j-input row">
    <a href="#" class="action center-block m-t-b m-r">enviar</a>
  </section>
</div>
