
/* Types */
@import url('https://fonts.googleapis.com/css?family=Nobile:700|Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$nobile: 'Nobile', sans-serif;
$open: 'Open Sans', sans-serif;
$monserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

/* Colors */
$soft-grey: #f5f5f5;
$medium-grey: #b3b3b3;
$grey: #444444;
$j-green: #00ffbc;
$dark-purple: #3c003c;
$j-black: #585858;
