<section class="container-fluid p-t-b-5" id="comunidad">
  <article class="row">
    <p class="item">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      Información los 365 dias del año
    </p>
    <p class="item">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      La plataforma con la organización más simple
    </p>
    <p class="item">
      <i class="fa fa-lock" aria-hidden="true"></i>
      Te ofrecemos seguridad y verifiacción de todos los instructores
    </p>
    <p class="item">
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
      Te brindamos difusión para eso que querés aprender o enseñar, porque para compartir hay que difundir
    </p>
  </article>
</section>
