<section class="container-fluid flex p-t-b a-c j-c why-workshop">
  <h4 class="p-r">¿Por qué en Jobbier hablamos <br> de taller y no de curso?</h4>
  <%= link_to public_main_why_workshop_path, class: 'action', onClick: "ga('send', 'event', 'Home', 'click', 'curso-o-taller-conoce');", onmouseover: "ga('send', 'event', 'Home', 'pasarRaton', 'curso-o-taller-conoce');" do %>
    CONOCÉ
  <% end %>
</section>


