<a href='#' class="item-notification b-b-b f-f-c flex <%= notification.kind %>">
  <div class="icon flex a-s">
    <i class="fa fa-check-circle"></i>
  </div>
  <div class="message">
    <%= notification.content %>
  </div>
</a>
