<h4>Una pequeña ayuda para que empieces: </h4>

<li>Haciendo click en <i class="fa fa-users" style="margin-left: 5px; margin-right: 5px"></i> accedes al chat donde podes hablar con tu profesor y tambien tus compañeros!<br></li>

<li>Haciendo click en <button class="action">VER</button> ingresas a la pagina del curso donde podes ver toda la informacion del mismo<br></li>

<li>El valor del curso esta indicado a continuacion del simbolo <i class="fa fa-money" aria-hidden="true"></i></li>

<li>Por ultimo se muestra un tag relacionado a la actividad que ofrece el curso y el nombre del usuario que lo creo<br></li>

<h3>Comienza ya a aprender!</h3>